# Byte-compiled / optimized / DLL files
__pycache__/
*.DS_Store


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

.python-version


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


